<div class="landing-body">
    <header class="landing-header">
        <div class="logo">
            <img src="/assets/BankFlow.png" alt="Logo BankFlow">
          </div>
      <nav class="main-nav">
        <ul>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Contato</a></li>
          <li><a routerLink="/login" class="btn btn-login">Login</a></li>
        </ul>
      </nav>
    </header>
  
    <main class="hero-section">
      <div class="hero-text">
        <h1>Otimize seu Atendimento.<br>Transforme a Experiência.</h1>
        <p>A solução inteligente para o gerenciamento de filas bancárias, que direciona cada cliente para o atendimento certo, sem espera desnecessária.</p>
        <a routerLink="/register" class="btn btn-cta">Comece Agora</a>
      </div>
      <div class="hero-image">
        <img src="/assets/LandingPage-Image.jpg" alt="Ilustração do App">
      </div>
    </main>
  
    <footer class="stats-bar">
      <div class="stat-item">
        <span class="stat-value">+1M</span>
        <span class="stat-label">Atendimentos Gerenciados</span>
      </div>
      <div class="stat-item">
        <span class="stat-value">-30%</span>
        <span class="stat-label">No Tempo de Espera</span>
      </div>
      <div class="stat-item">
        <span class="stat-value">99.9%</span>
        <span class="stat-label">Disponibilidade (Uptime)</span>
      </div>
      <div class="stat-item">
        <span class="stat-value">Nível A</span>
        <span class="stat-label">Segurança Bancária</span>
      </div>
    </footer>
  </div>